<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>商品詳細</title>
  <link href="css/commons.css" rel="stylesheet">
</head>

<body>

<th:block th:insert="common/header"></th:block>

  <hr>

  <div class="update">
    <div class="form-body">
      <div class="img_block">
        <img src="images/マッキー.png" class="product-img"><br>
      </div>

      <form action="delete" method="post">
        <fieldset class="label-130 product_block">
          <p class="error">エラーメッセージ</p>
          <div>
            <label>商品ID</label>
            <input type="text" name="productId" th:value="${detailData.productId}" readonly class="base-text">
          </div>
          <div>
            <label>商品名</label>
            <input type="text" name="name" th:value="${detailData.name}" readonly class="base-text">
          </div>
          <div>
            <label>単価</label>
            <input type="text" name="price" th:value="${detailData.price}" readonly class="base-text">
          </div>
          <div>
            <label>カテゴリ</label>
            <input type="text" name="categoryId" th:value="${detailData.categoryName}" readonly class="base-text">
          </div>
          <div>
            <label>商品説明</label>
            <textarea name="description" readonly class="base-text" style="background-color: rgb(209, 209, 209);"
              th:text="${detailData.description}"></textarea>
          </div>

        </fieldset>
        <div>
          <div class="btns">
            <div th:if="${session.userSession[0].role == 1}">
            <input type="button" onclick="openModal()" value="削除" class="basic-btn">
            <input type="button" onclick="redirectToUpdate()" value="更新" class="basic-btn"
              th:attr="dataId=${detailData.id}">
            </div>
            <input type="button" onclick="location.href='/menu'" value="戻る" class="cancel-btn">
          </div>
          <div id="modal">
            <p class="modal-message">削除しますか？</p>
            <div class="btns">
              <button type="button" id="delete-btn" class="basic-btn">削除</button>
              <button type="button" onclick="closeModal()" class="cancel-btn">キャンセル</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div id="fadeLayer"></div>
  <script src="./js/commons.js"></script>
  <script>
    'use strict'
    document.getElementById('delete-btn').addEventListener('click', () => {
      document.getElementById('delete-btn').addEventListener('click', () => {
        //削除するidを送る
        const productId = document.querySelector('input[name="productId"]').value;

        fetch('/delete/' + productId, {
          method: 'DELETE'
        }).then(respone => {
          if (respone.ok) {
            window.location.href = '/menu';
          } else {
            console.log("更新失敗");
          }
        }).catch(error => {
          console.error("エラー:", error);
        });
      })
    })

    function redirectToUpdate(id) {
      var productId = document.querySelector('[dataId]').getAttribute('dataId');
      var url = '/updateInput/' + productId;
      location.href = url;
    }
  </script>
</body>

</html>